twine-placeholder {
      div {
            ion-label {
                  display: block !important;
                  word-wrap: normal !important;
                  white-space:normal !important;
                  text-align: center !important;
                  line-height: 10pt !important;
                  font-size: 10pt !important;
            }
      }
}
