<div class="container">
      <ion-item>
            <ion-grid>
                  <ion-row class="info">
                        <ion-col>
                              <ion-icon *ngIf="(privacy | async) == 'public'" name="md-people"></ion-icon>
                              <ion-icon *ngIf="(privacy | async) == 'private'" name="md-lock"></ion-icon>
                        </ion-col>
                        <ion-col>
                              <h1>{{(time | async)}}</h1>
                        </ion-col>
                  </ion-row>
                  <ion-row class="separator">
                        <span></span>
                  </ion-row>
                  <ion-row class="twine">
                        <ion-col id="twinee1" col-4>
                              <ion-row>
                                    <img [style.background]="'url(' + (twinee1 | async)?.picture + ')'"/>
                              </ion-row>
                              <ion-row class="center">
                                    <h2>{{(twinee == 'twinee1' ? 'You' : (twinee1 | async)?.name)}}</h2>
                              </ion-row>
                        </ion-col>
                        <ion-col id="twiner" col-4>
                              <ion-row>
                                    <img [style.background]="'url(' + (twiner | async)?.picture + ')'"/>
                              </ion-row>
                              <ion-row class="center">
                                    <h2>{{twinee == 'twiner' ? 'You' : (twiner | async)?.name}}</h2>
                                    <div class="info">
                                          <p>{{(caption | async)}}</p>
                                    </div>
                              </ion-row>
                        </ion-col>
                        <ion-col id="twinee2" col-4>
                              <ion-row>
                                    <img [style.background]="'url(' + (twinee2 | async)?.picture + ')'"/>
                              </ion-row>
                              <ion-row class="center">
                                    <h2>{{twinee == 'twinee2' ? 'You' : (twinee2 | async)?.name}}</h2>
                              </ion-row>
                        </ion-col>
                  </ion-row>
            </ion-grid>
            <ion-row class="options">
                  <ion-col>
                        <button *ngIf="!hasUserLike" (tap)="like()" ion-button icon-left clear small [disabled]="!this.online">
                              <ion-icon name="heart"></ion-icon>
                              <div *ngIf="(likes | async) == 0">No Likes</div>
                              <div *ngIf="(likes | async) == 1">1 Like</div>
                              <div *ngIf="(likes | async) > 1">{{(likes | async)}} Likes</div>
                        </button>
                        <button *ngIf="hasUserLike" (tap)="like()" class="color" ion-button icon-left clear small [disabled]="!this.online">
                              <ion-icon name="heart"></ion-icon>
                              <div *ngIf="(likes | async) == 0">No Likes</div>
                              <div *ngIf="(likes | async) == 1">1 Like</div>
                              <div *ngIf="(likes | async) > 1">{{(likes | async)}} Likes</div>
                        </button>
                  </ion-col>
                  <ion-col>
                        <button *ngIf="!toggleCom" (tap)="toggleComments()" ion-button icon-left clear small [disabled]="!this.online">
                              <ion-icon name="quote" class="quote"></ion-icon>
                              <div *ngIf="(comments | async) == 0">No Comments</div>
                              <div *ngIf="(comments | async) == 1">1 Comment</div>
                              <div *ngIf="(comments | async) > 1">{{(comments | async)}} Comments</div>
                        </button>
                        <button *ngIf="toggleCom" (tap)="toggleComments()" class="color" ion-button icon-left clear small [disabled]="!this.online">
                              <ion-icon name="quote" class="quote"></ion-icon>
                              <div *ngIf="(comments | async) == 0">No Comments</div>
                              <div *ngIf="(comments | async) == 1">1 Comment</div>
                              <div *ngIf="(comments | async) > 1">{{(comments | async)}} Comments</div>
                        </button>
                  </ion-col>
            </ion-row>
      </ion-item>
      <twine-comments *ngIf="toggleCom" [id]="id">
      </twine-comments>
</div>
