@import '../../theme/theme.scss';

twine-blockcard {
      ion-item {
            border-top: solid 0.5pt lightgray;
            margin-top: 1px !important;
            img {
                  border: 2px solid #fff;
                  border-radius: 50%;
                  display: inline-block;
                  z-index: 2 !important;
                  height: 32px !important;
                  width: 32px !important;
                  margin: 3px 10px 3px -8px !important;
                  background-repeat: no-repeat !important;
                  background-clip: content-box !important;
                  background-position: top !important;
                  background-size: cover !important;
            }
            h3 {
                  display: inline-block !important;
                  font-weight: 400 !important;
                  font-size: 12pt !important;
                  white-space: normal;
            }
            div {
                  div {
                        div.blocked {
                              display: inline-block !important;
                              font-size: 10pt !important;
                              height: 12pt !important;
                              div {
                                    height: 8pt !important;
                                    display: block !important;
                                    position: absolute !important;
                                    margin-left: -40pt !important;
                              }
                        }
                  }
            }
      }
      ion-item-options {
            border: none !important;
            button {
                  width: 31px;
                  background: -webkit-linear-gradient(80deg, color($colors, secondary), color($colors, quaternary), color($colors, quaternary)) !important;
                  color: white !important;
                  padding-top: 5px !important;
                  border: none;
            }
      }
}
