page-feed {
      .no-padding {
            padding: 0 !important;
      }
      .body {
            background: color($colors, lightgray);
            margin-top: 40px;
      }
      .header-ios .toolbar-ios:last-child .toolbar-background-ios {
            border-width: 0;
      }
      .center {
            text-align: center;
            display: block;
            margin: auto;
            padding: 0;
      }
      .center > h2 {
            font-size: 11pt;
            font-weight: 500;
            white-space: normal;
      }
      .center > h3 {
            margin-top: -2px;
            font-size: 9pt;
            white-space: normal;
      }
      .center > p {
            font-size: 8pt;
      }
      ion-row, ion-col, ion-item {
            background: none !important;
      }
      .separator {
            position: absolute;
            margin-top: 7vh;
      }
      .separator .left {
            width: 100px;
            margin-left: 11vh;
      }
      .separator .right {
            width: 100px;
            margin-left: -1vh;
      }
      // #twinee1, #twinee2, #twiner {
      //       border: solid 1px black;
      // }
      #twiner h2 {
            font-size: 9pt;
            font-weight: 500;
            white-space: normal;
      }
      #twiner h3 {
            margin-top: -2px;
            font-size: 7pt;
            white-space: normal;
      }
      #twiner p {
            font-size: 7pt;
      }
      h4 > div {
            font-size: 10pt;
            display: inline;
            position: absolute;
            margin-top: 14px;
            margin-left: 3px;
      }
      .mail {
            font-size: 24px;
            color : color($colors, blushpapaya);
            margin-left: -20px;
            margin-top: 10px;
      }
      .header {
            width: 100%;
            height: 20px;
            background: color($colors, blushpapaya) !important;
      }
      .header p {
            color: white;
            margin-top: -2px;
            font-size: 9pt;
            text-align: center;
      }
      .pfpS, .pfpL, .pfpC {
            border: 2px solid #fff;
            border-radius: 50%;
            box-shadow: 0 0 1px color($colors, gray);
            display: inline-block;
            z-index: 2 !important;
      }
      .pfpL {
            height: 16vw;
            width: 16vw;
            margin: 5px auto 8px auto;
      }
      .pfpS {
            height: 12vw;
            width: 12vw;
            margin: 7px auto 6px auto;
      }
      .pfpC {
            height: 30px;
            width: 30px;
            margin: 8px 0 0 8px;
      }
      .lower {
            margin-top: 8px;
      }
      ion-card-content {
            margin-top: -20px;
            height: 45px;
            text-align: center;
      }
      .options {
            background: color($colors, blushpapaya) !important;
            width: 120px;
            padding: -5px 0 -5px 0;
            border-radius: 10px;
            margin: auto auto 15px auto;
      }
      .options button {
            background: none;
      }
      .optionicon {
            font-size: 22px;
            color : white;
      }
      .option {
            color: white;
            border-radius: 10px;
            height: 40vh;
            margin-top: -2px;
      }
      .option > h2 {
            color: white;
            text-align: center;
            font-size: 14pt;
      }
      .option p {
            text-align: center;
            margin: auto;
            font-size: 10pt;
            margin-top: -4px;
      }
      .toolbaricon {
            font-size: 30px;
            color : white;
      }
      .logobutton {
            background: color($colors, blushpapaya);
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            width: 60px;
            height: 60px;
            padding: 4px;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
      }
      .pic-icon {
            z-index: 1;
            margin-top: 0px;
            width: 32px;
            height: 32px;
      }
      .card {
            border-radius: 10px;
      }
      .commentarea {
            height: 40px;
            margin: 4px 0 2px 0;
            resize: none;
            overflow-y: hidden;
            padding: 0 5px 0 8px;
            font-size: 16px;
            color: color($colors, gray);
            box-sizing: border-box;
            border-top: solid 1px color($colors, lightgray);
            border-bottom: solid 1px color($colors, lightgray);
      }
      .sendcomment {
            width: 30px;
            background: color($colors, blushpapaya);
            text-align: center;
            padding: 0px 0 0 5px !important;
            z-index: 1;
            margin: 4px 0 2px 0;
      }
      .sendcomment ion-icon {
            font-size: 18pt;
            color: white;
      }
      .commentrow {
            width: 100% !important;
            padding-bottom: 5px;
            border-top: solid 2px color($colors, lightgray);
      }
      .commentlabel {
            color: color($colors, gray);
            margin: 8px 0 0 15px;
            font-size: 10pt;
            overflow: hidden;
            white-space: normal !important;
      }
      .commentlabel span {
            font-weight: 600;
            margin-right: 5px;
      }
      .commentrow p {
            display: inline;
            color: color($colors, blushpapaya);
            font-weight: 600;
            font-size: 8pt;
            margin: 8px -16px 0 0;
            text-align: right;
            color: gray;
      }
      .commentrow ion-icon {
            color: color($colors, blushpapaya);
            margin: 18px 4px 0 0;
            font-size: 18pt;
            display: block;
            color: gray;
      }
      .commentlist {
            overflow-y: auto;
            height: 32vh;
            display: flex;
      }
}
